/* all elements */
body
{
    margin:0;
}

/* nav bar */
.bar 
{
    background-color: #131f5d;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* brand n logo sa left */
.left
{
    display: flex;
    align-items: center;
    margin: 0;
    
}

/* brand */
.bar h3 
{
    color:white;
    
    font-family:'Playfair Display', serif;
    
}

/* all images nav bar */
.bar img
{
    margin:0;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* all elements sa body image */
.title
{
    position: relative; 
       
}

/* body resort image */
.resort
{
    
    width: 100%;         
    height: 400px;   
    object-fit: cover;
    opacity: 50%;
    margin-bottom: 100px;
}


/* welcome to */
.title h2
{
    position: absolute;   
    top: 150px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;               
    text-align: center;   
    color: white;     
    text-shadow: 0px 0px 4px rgba(0,0,0,0.9);
    
}

/* hotel */
.title h1
{
    position: absolute;   
    top: 170px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;               
    text-align: center;    
    color: #c9d2ff;     
    text-shadow: 0px 0px 4px rgba(0,0,0,0.9);
    font-size: 50px;

}

/* booking form */
.book
{
    position: absolute;  
    width: 500px; 
    top: 290px;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;  
    background-color: white; 
    padding: 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

    transform: scale(1.5);
    transform-origin: top center;

    font-size: 1.2rem;
}

/* for booking input */
.book form
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.book form .field
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.book form .field input
{
    width: 150px;
}

#submit:hover
{
    color:white;
    background-color: #131f5d;
}

/* hotel preview */
.slider
{
    position: relative;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.arrows
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    bottom: 0px;
    text-align: left;
}

.imgsl
{
    width: 100%;       
    height: 200px;   
    object-fit: cover;
    
}

#prev, #next
{
    position: absolute;
    top: 100px;
    width: 40px;
    height: 40px;
    margin: 0;          
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;       
    font-size: 25px;
}

#prev{left:10px;}
#next{right:10px;}

.dots
{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    display:flex;
    justify-content:center;
}

.dot{
    height:10px;
    width:10px;
    background:gray;
    border-radius:50%;
    margin:5px;
}

/* hotel info */
#info
{
    position: absolute;
    bottom: auto;
    left: 0;
    right: 0;
    margin: auto;  
    background-color: white; 
    padding: 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

#info h2
{
    color: #131f5d;
}


/* 
.left
{
    display: flex;
    align-items: center;
    margin: 0;
    
}


.bar h3 
{
    color:white;
    
    font-family:'Playfair Display', serif;
    
}


.bar img
{
    margin:0;
    padding: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
} */






